body {
    background-color: black;
    color: aqua;
}

.calculadora {
    background-color: rgb(112, 129, 129);
    padding: 8px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
}

.display_calc {
    background-color: transparent;
    text-align: center;
}

#resultado {
    padding: 2px;
    background-color: black;
    color: yellow;
    text-align: center;
}

button {
    width: 40px;
    height: 40px;
    margin: 3px;
}

#btn_igual {
    background-color: aqua;
}